.fixed
{
	position: fixed;
	width:100%;
	background: black;
	margin-top: -20px;
}
body
{
	background: #e5e294
}
h1
{
	text-align: center;
	word-spacing: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color:red;
}


ul
{
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
  	top: 0;
}
li 
{
	float: left;
	margin-right: 15px;	
}
li a
{
	display: block;
  	color: white;
  	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul a:hover
{
	color:red;
	text-decoration: underline;
	background-color: white;
}
img
{
	padding-top: 160px;
	height:650px;
	width: 100%;
}
img.as
{
	height:230px;
	width: 100%;
	margin-top: -20px;
}
.subtitle
{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}
section
{
	padding-left: 40px;
	padding-right: 40px;
}
section p
{
	font-size: 12px;
}
#text1
{
	padding-top: 150px;
}
